<div class="home">
    <img class="homepicture" src="/images/beer.png" alt="beer"/>

   <button class="all-beers"> <a href="/beers">Check the Beers!</a></button>
    <button class="random-beer"><a href="/random-beers">Check a Random Beer!</a></button>

</div>

<footer>Developed by IronHack :) </footer>